# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
ENV/

# Airflow
airflow.db
airflow.cfg
logs/
airflow-webserver.pid
standalone_admin_password.txt

# Models
models/*.pkl

# MLflow
mlruns/

# IDE
.vscode/
.idea/

# OS
.DS_Store
